<a href="https://colab.research.google.com/github/gautham2712/GN2712/blob/master/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn import datasets

In [15]:
import numpy as np
import pandas as pd
iris = datasets.load_iris()

In [22]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

df["target"] = iris.target

df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [41]:
X = df.drop(columns = ['target'])
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [46]:
y = df['target']

In [50]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [53]:
print('Class labels:', np.unique(y))

Class labels: [0 1 2]

In [55]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 1, stratify= y)

In [61]:
print('Labels counts in y:', np.bincount(y))
print('Labels counts in y:', np.bincount(y_train))
print('Labels counts in y:', np.bincount(y_test))

Labels counts in y: [50 50 50]
Labels counts in y: [35 35 35]
Labels counts in y: [15 15 15]

In [68]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [70]:
from scipy.sparse.construct import rand
from sklearn.linear_model import Perceptron
ppn = Perceptron(eta0=0.1, random_state= 1)
ppn.fit(X_train_std,y_train)

Perceptron(eta0=0.1, random_state=1)

In [71]:
y_pred = ppn.predict(X_test_std)

print('Misclassified examples: %d' % (y_test != y_pred).sum())

Misclassified examples: 2

In [76]:
from sklearn.metrics import accuracy_score
print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))
print('Accuracy: %.3f' % accuracy_score(X_test_std, y_test))

Accuracy: 0.956

ValueError: ignored